<!DOCTYPE html>
<html>
    <head>
            {% if title %}
            <title> {{ title }} - Microblog</title>
            {% else %}
            <title>Welcome to Microblog</title>
            {% endif %}
    </head>
    <body>
        <div>Microblog: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% block content %} {% endblock %}

        <div > 
            <hr>
            <p>All right reserved @ 2022</p>
        </div>
    </body>

</html>